.heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: left;
}

.swiper {
  padding: 1rem 0;
}

.slide {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  border-radius: 12px;
  min-height: 250px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
}
.cardContent {
  padding: 1rem;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    245.7deg,
    rgba(255, 255, 255, 0) 0.94%,
    rgba(3, 8, 31, 0.19) 51.68%,
    rgba(3, 8, 31, 0.89) 87.9%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.5rem;
  color: white;
}

.discountBadge {
  position: absolute;
  top: 0rem;
  right: 1rem;
  background: #03081f;
  color: white;
  padding: 0.65rem 0.7rem;
  border-radius: 4px;
  font-size: 0.875rem;
}

.restaurantName {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #fc8a06;
}

.description {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}
