.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  max-height: 26rem;
  @media (min-width: 768px) {
    width: 50%;
  }
  border-radius: 12px;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  object-fit: cover;
}

.cardContent {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    245.7deg,
    rgba(255, 255, 255, 0) 0.94%,
    rgba(3, 8, 31, 0.19) 51.68%,
    rgba(3, 8, 31, 0.89) 87.9%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.5rem;
  color: white;
}

.cardDescription {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0 0 12px 12px;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 700;
  position: absolute;
  top: 0;
}

.cardSubtitle {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fc8a06;
}

.cardTitle {
  font-size: 6.5vw;
  font-weight: 600;
}

.cardButton {
  margin-top: 0.5rem;
  background-color: #fb923c;
  width: fit-content;
  color: white;
  font-weight: 500;
  padding: 0.3rem 1.5rem;
  font-size: 1rem;
  border-radius: 100px;
  transition: background-color 0.3s;
}

.cardButton:hover {
  background-color: #f97316;
}

@media (min-width: 530px){
  .cardButton {
    margin-top: 1rem;
    background-color: #fb923c;
    width: fit-content;
    color: white;
    font-weight: 500;
    padding: 0.7rem 2.5rem;
    font-size: 1.1rem;
    border-radius: 100px;
    transition: background-color 0.3s;
  }

  .cardDescription {
    padding: 0.8rem 1.2rem;
  }
}

@media (min-width: 768px) {
  .cardsContainer {
    flex-direction: row;
  }

  .cardTitle {
    font-size: 3vw;
    font-weight: 600;
  }
}
