.title{
  font-size: 24px;
  font-weight: 500;
}

.paymentCardGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 350px));
  gap: 16px;
  margin-top: 30px;
}

.addCardButton{
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background: #fff;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  cursor: pointer;
}
.addButtonIcon{
  color: #FF8A00;
  background: #FFF3E6;
  padding: 10px;
  font-size: 40px;
  border-radius: 100px;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .cardInfo {
    font-size: 14px;
  }

  .group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .cardIcon{
    color: #FF8A00;
    background: #FFF3E6;
    padding: 10px;
    font-size: 40px;
    border-radius: 100px;
  }

  .cardNum{
    margin: 0;
  }

  .cardHolder{
    margin: 0;
  }
  
  .cardActions {
    display: flex;
    gap: 8px;
  }
  
  .actionButton {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editButton {
    background: #fff;
    color: #000;
    font-size: 15px;
  }
  
  .removeButton {
    background-color: #dc3545;
    color: white;
  }
  

  @media (max-width: 576px){

    .addCardButton{
      width: 100%;
    }
  }

  @media (max-width: 992px){
    .paymentCardGroup {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 16px;
    }
  }